.about-container {
  background-color: #3a3a3a; // Lighter grey background
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #ffffff; // Bubble border color
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  h1,
  p {
    margin: 10px 0;
  }
}
