@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.main-content {
  margin-left: 200px; // Default margin when nav is expanded
  transition: margin-left 0.3s;

  .nav.collapsed + & {
    margin-left: 70px; // Adjust margin when nav is collapsed
  }
}
