.nbDateTime {
  cursor: default;
  display: flex;
  gap: 10px;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}
